<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>RutasServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.aerolinea.controller.RutasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvionServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.aerolinea.controller.AvionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorariosServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.aerolinea.controller.HorariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VuelosServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.aerolinea.controller.VuelosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutasServlet</servlet-name>
        <url-pattern>/RutasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvionServlet</servlet-name>
        <url-pattern>/AvionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorariosServlet</servlet-name>
        <url-pattern>/HorariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VuelosServlet</servlet-name>
        <url-pattern>/VuelosServlet</url-pattern>
    </servlet-mapping>
</web-app>
